#container {
	font-family: "Montserrat";
}

#links {
	position: absolute;
	display: inline-block;
}

#links2 {
	margin-left: 700px;
}

.navbar-item {
	text-decoration: none;
	font-size: 23px;
	padding-right: 10px;
	color: black;
	margin-right: 30px;
}

.navbar-item:hover {
	color: #0098b8;
	transition-delay: .1s;
}

#logo {
	padding-top: 20px;
	padding-left: 40px;
	padding-bottom: 10px;
	font-family: "Permanent Marker";
	width: 1500px;
	color: #0098b8;
	font-size: 35px;
	line-height: 20px;
}

#indent {
	padding-left: 16px;
}

#contact-container {
	margin-left: 10%;
	margin-top: 15%;
	width: 80%;
	display: flex;
	flex-direction: row;
	font-family: "Source Sans Pro";
	justify-content: space-between;
}

#caliber-container {
	width: 600px;
	display: flex;
	flex-direction: column;
	font-size: 18px;
	padding-bottom: 14px;
}

#caliber {
	padding-left: 120px;
	padding-bottom: 14px;
}

.article {
	text-decoration: none;
	color: black;
	padding: 0 0 8 0px;
}

#info {
	width: 600px;
	font-size: 18px;
}

#sm {
	display: flex;
	flex-direction: row;
}

.square {
	padding-top: 14px;
	padding-right: 14px;
}

#title{
	font-size: 24px;
	color: #0098b8;
	font-family: "Permanent Marker";
}

#blurb {
	padding: 14 0px;
}
