html{
	background-color: #9be3f2;
}

#container {
	font-family: "Montserrat";
}

#cheese {
	text-align: center;
	margin-top: 100px;
	font-size: 36px;
	color: #0099b8;
}

#arrow {
	margin-top: 100px;
	margin-left: 35%;
}

#camera {
  	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
  	margin-left: 30%;
  	display: flex;
	justify-content: center;
	align-items: center;
}

.rectangle,#click {
	position: absolute;
	border-radius: 10%;
	height: 50px;
	width: 70px;
	background: #222222;
	top: 50;
	left: 70;
	animation: up-down 2s infinite;
}

@keyframes up-down {
	0% {transform: translateY(0);}
	50% {transform: translateY(-15px);}
	100% {transform: translateY(0);}
}

@keyframes flash {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}